<legend><%= controller.action_name.capitalize %> <%=t 'accomodation' %></legend>

<%= semantic_form_for @accomodation, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
      <div class="control-group">
  <%= f.inputs do %>
      <%= f.input :property_type, :collection => ["Appartment", "House", "Cabin", "Villa", "Hotel"] %>
      <%= f.input :accomodation_type, :collection => ["Private room", "Shared room"] %>
      <%= f.input :accomodates %>
      <%= f.input :nightly_rate %>
      <%= f.input :country, :as => :string %>
      <%= f.input :city %>
      <%= f.input :adress_line %>
      <%= f.input :zip_code %>
      <%= f.input :contact_email, :as => :email %>
      <%= f.input :contact_phone, :as => :phone %>
      <%= f.input :contact_phone2,:as => :phone %>
      <%= f.input :size, :as => :number %>
      <%= f.input :number_of_bathrooms %>
      <%= f.input :number_of_bedrooms %>
      <%= f.input :number_of_beds %>
      <%= f.input :pets_allowed, :html => {:class => 'checkbox'} %>
      <%= f.input :main_image %>
  <% end %>
      </div>
</fieldset>
  <%= f.buttons do %>
      <%= f.commit_button :submit, :button_html => { :class => "btn btn-primary", :disable_with => 'Wait...' } %>
  <% end %>
<% end %>
