<%= form_for @accomodation, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Accomodation</legend>

    <div class="control-group">
      <%= f.label :property_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :property_type, "<option>Appartment</option><option>House</option><option>Cabin</option><option>Villa</option><option>Hotel</option><option>Hostel</option>".html_safe, :multiple => true, :class => 'select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :accomodation_type, "<option>Private room</option><option>Shared room</option><option>Entire property</option>".html_safe, :multiple => true, :class => 'select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :accomodates, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :accomodates, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :nightly_rate, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nightly_rate, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :adress_line, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :adress_line, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :country, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :country, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :zip_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zip_code, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :contact_email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :contact_email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :contact_phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.phone_field :contact_phone, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :contact_phone2, :class => 'control-label' %>
      <div class="controls">
        <%= f.phone_field :contact_phone2, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :pets_allowed, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :pets_allowed, :class => 'checkbox' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :size, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :size, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number_of_bathrooms, :class => 'control-label' %>
      <div class="controls">
        <%= f.range_field :number_of_bathrooms, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number_of_bedrooms, :class => 'control-label' %>
      <div class="controls">
        <%= f.range_field :number_of_bedrooms, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number_of_beds, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :number_of_beds, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', accomodations_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>