<h1><%=@accomodation.accomodation_type %> for <%=@accomodation.accomodates %> in <%=@accomodation.city %> </h1>


<p>
  <b>Location </b>
  <%=@accomodation.city %>, <%=@accomodation.country %>
</p>

<p>
  <b>Address</b><br>
  <%= @accomodation.adress_line %>, <%= @accomodation.zip_code %>, <%= @accomodation.city %>, <%= @accomodation.country %>, 
</p>

<div class="form-actions">
  <%= link_to 'Back', accomodations_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_accomodation_path(@accomodation), :class => 'btn' %>
  <%= link_to 'Delete', accomodation_path(@accomodation), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

