<% provide(:title, "Zimmer Frei") %>
<!DOCTYPE html>
<html>
<head>
  <!-- <title>Zimmer Frei</title> -->
  <title><%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<%= link_to "ZimmerFrei", accomodations_path, :class => "brand" %>
				<div class="nav-collapse">
					<ul class="nav">
						<li><%= link_to "Browse Accomodations", accomodations_path %></li>
						<li><%= link_to "Sign up", signup_path %></li>
						<li class="dropdown">
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span9">
					<%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %> 
					<%= yield %>
				</div>
				<div class="span3">
					Some commertial stuff
				</div>
			</div>
		</div>

	</body>
	</html>
